.conference_hall {

    p {
        color: #686868;
    }

    h6 {

        color: #000;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;

        span {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 52px;
        }
    }

    button {

        padding: 15px 40px;
        border-radius: 70px;
        background: #F7DB15;
    }
}