.articles {


    .post_item {
        min-height: 100px;

        img {
            width: 100%;
        }

        .post_body {
                        

            p {
                color: #686868;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }


            .divider{
                width: 100%;
                height: 5px;
                background-color: #CCCCCC;
            }

            .read_more_btn{
                border-bottom: 2px solid #FF6A19;
                padding: 3px 0px;
                width: fit-content;
                cursor: pointer;
            }
        }
    }
}