.about {


    p {
        color: #686868;
    }

    button {
        padding: 15px 40px;
        border-radius: 70px;
        background: #FF6A19;
       color: #FFFFFF;

        &:nth-child(2){
            background-color: transparent !important;
        }

        .video_model{
            width: 80%;
            height: 80vh;
        }
    }

}


// responsive


@media (max-width:992px) {
    
    .about{

        img{
            // width: 100%;
        }
    }

}