

.space{

    background-color: #FF6A19;
    width: 100%;
    min-height: 80vh;

    .space_wrapper{
        width: 100%;
        min-height: 200px;

        p{
            color: #686868;
        }

        h4{
            color: #000 !important;
        }

        button{
            padding: 15px 30px;
            border-radius: 70px;
            background: #FF6A19;
            color: white;
        }


        img{
            height: 100%;
        }
    }

}