

.space{

    background-color: #FF6A19;
    width: 100%;
    min-height: 80vh;

    .space_wrapper{
        width: 100%;
        min-height: 200px;
        position: relative;
        z-index: 999;


        .plant_image{
            position: absolute;
            top: 30px;
            left: -100px;
            z-index: -999;
        }

        .bowl_image{
            position: absolute;
            bottom: 30px;
            right: -100px;
            z-index: -999;
        }

        p{
            color: #686868;
        }

        h4{
            color: #000 !important;
        }

        button{
            padding: 15px 30px;
            border-radius: 70px;
            background: #FF6A19;
            color: white;
        }


        img{
            height: 100%;
        }
    }

}